[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "extern/amgcl"]
	path = extern/amgcl
	url = https://github.com/ddemidov/amgcl
	branch = master
[submodule "extern/prism-benchmarks"]
	path = extern/prism-benchmarks
	url = https://github.com/prismmodelchecker/prism-benchmarks
[submodule "extern/Eigen"]
	path = extern/Eigen
	url = https://gitlab.com/libeigen/eigen.git
